body {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
background-color: #264e70; /* mörkblå */
font-family: sans-serif;
/* färgpalett: https://colorhunt.co/palette/134056 */
}

h1 {
font-weight: bold;
font-size: 30px;
font-family: "optima", sans-serif;
letter-spacing: 0px;
margin-bottom: 0px;
color: #ffebd3; /*ljusljusrosa*/
}

.inputSection {
margin: 50px 0px 80px 0px;
width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input{
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #ffb4ac;
  background-color: #264e70;
  height: 24px;
  padding: 4px;
outline: none;
color:#ffb4ac;
font-size: 15px;
font-family: "optima", sans-serif;
}

.addOption{
  margin-top: 5px;
  background-color: #ffb4ac; /*rosa*/
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  font-weight: lighter;
  border: none;
width: 50px;
height: 50px;
line-height: 50px;
border-radius: 50%;
outline: none;
}

.goOption{
  margin-top: 10px;
  background-color: #ffb4ac; /* rosa */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 outline: none;
 font-family: "optima", sans-serif;
}
